@model IEnumerable<MCV.net.Models.Project>

@{
    ViewData["Title"] = "Index";  


}
 
<h1>Projects List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discreption)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.pdfURL)
               
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublish)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <div class="w-75">
                        <p class="pl-2 w-50">
                            @Html.DisplayFor(modelItem => item.Discreption)

                    </p>
 
                </div>
             </td>
            <td>
                    @if(item.pdfURL!=null && item.pdfURL.Length > 0)
                    {
                        <a href="@item.pdfURL" target="_blank">
                            Open Project
                        </a>
                        
                    }
                 
             </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.category)
            </td>
                <td  >
                    @Html.DisplayFor(modelItem => item.DateOfPublish)

                    @* @if (ViewBag.DateOfPublish != null)
                    {
                         @ViewBag.DateOfPublish 
                    } *@
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.projectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.projectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.projectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}